<%= form_for(@event) do |form| %>
  <p><%= form.label("Date") %></p>
  <p><%= form.text_field("date") %></p>
  <p><%= form.label("Time") %></p>
  <p><%= form.text_field("time") %></p>
  <p><%= form.label("Event") %></p>
  <p><%= form.text_field("title") %></p>
  <a class="waves-effect waves-light btn"><%= form.submit %></a>
  <%= link_to "Delete", event_path(@event), data: {confirm: "Are you sure?"}, method: :delete, class: "waves-effect waves-light btn" %>
<% end %>