	  <table class="highlight">
        <thead>
          <tr>
              <th data-field="id">Date</th>
              <th data-field="name">Time</th>
              <th data-field="price">Event</th>
              <th><a class="waves-effect waves-light btn"<%= link_to("Add Event", new_event_path) %></th>
          </tr>
        </thead>
<% for event in @events %>
        <tbody>
          <tr>
     
            <td><%= event.date %></td>
            <td><%= event.time %></td>
            <td><%= event.title %></td>
<td><%= link_to("Edit event", edit_event_path(event)) %></td>
          </tr>
        </tbody>
 <% end %>        
      </table>
 